/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

/* STYLES OF NAVBAR */

.navBarDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 13vh;
  width: 100%;
}

.navBarDiv h1 {
  width: 10%;
  padding: 0 5%;
}

.navBarDiv div {
  display: flex;
  width: 15%;
  justify-content: space-evenly;
  align-items: center;
}

.navBarDiv .buttons {
  width: 40%;
  padding: 0 3%;
}

.navBarDiv .buttons div {
  text-align: center;
}

.navBarDiv .buttons div a:hover {
  color: rgb(59, 89, 152);
  font-size: large;
  text-decoration: none;
}

.navBarDiv div div a {
  color: black;
}

.navBarDiv div div .wapp:hover,
.navBarDiv div div .quora:hover,
.navBarDiv div div .facebook:hover,
.navBarDiv div div .linkedin:hover,
.navBarDiv div div .instagram:hover {
  font-size: x-large;
}

.navBarDiv div div .quora:hover {
  color: rgb(185, 43, 39);
}

.navBarDiv div div .wapp:hover {
  color: rgb(37, 211, 102);
}

.navBarDiv div div .instagram:hover {
  color: rgb(226, 29, 121);
}

.navBarDiv div div .linkedin:hover {
  color: rgb(72, 117, 180);
}

.navBarDiv div div .facebook:hover {
  color: #2f55a4;
}

/* STYLES OF HOME (ABOUT ME) */

.home {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home h1 {
  position: absolute;
  text-align: center;
  z-index: 1;
  color: white;
}

.home div {
  width: 100%;
  height: 85vh;
}

.carousel img {
  filter: brightness(0.5);
  position: absolute;
  bottom: -9%;
  left: 0%;
}

.carousel .img3 {
  filter: brightness(0.5);
  position: absolute;
  bottom: -57%;
  left: 0%;
}

/* STYLES OF ARTICLES */

.articles {
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5% 5% 5% 5%;
  background-color: rgb(255, 255, 255);
}

.titleArticles {
  padding: 1%;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 5%;
}

.groupArticles {
  padding: 1% 1% 1% 1%;
  height: 77%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.article {
  display: flex;
  width: 44%;
  margin: 1%;
  box-shadow: 5px 3px 10px 0px rgba(0,0,0,0.75);
  height: 33vh;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.one, .three {
  align-self: flex-start;
}

.two, .four {
  align-self: flex-end;
}

.text {
  padding: 1% 5% 1% 5%;
  background: #FFEEAA;
  /*width: la necesaria;*/
  margin: 0;/*no influye*/
  line-height: 1.5rem;
  position: relative;
}

.text p {
  max-height: 6rem;/*line-height por nº de líneas*/
  overflow: hidden;
  text-align: justify;
}

.text p::after {
  content: '...';
  background: #FFEEAA;
  position: absolute;
  top: 161px;
  right: 13px;/*max-height menos 1 line-height*/
}

.divButton {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

.btn {
  padding: 1% 3% 1% 3% !important;
}

/* STYLES OF ONLINE UNDERTAKE */

.online-undertake {
  width: 100%;
  height: 100vh;
}

.online-undertake .react-parallax {
  width: 100%;
  height: 100%;
  top: 0;
}

.online-undertake .react-parallax .react-parallax-bgimage {
  filter: brightness(0.5) !important;
}

.online-undertake div {
  top: 50%;
  text-align: center;
  color: white;
}

/* STYLES OF GALLERY */

.gallery {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: aliceblue;
}

/* STYLES OF CIRCLE */

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(./img/keima.jpg);
  background-position: 200px 200px;
  position: absolute;
  top: 83%;
  left: 40%;
}

/* STYLES OF FOOTER */

.footer {
  width: 100%;
  height: 50vh;
  background-color: rgb(42, 42, 42);
  color: aliceblue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1%;
}

.socialNetworks,
.name,
.navButtons {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
}

.name {
  justify-content: center;
}

.navButtons,
.socialNetworks {
  flex-direction: column;
  align-items: center;
}

.socialNetworks div {
  display: flex;
  justify-content: space-between;
  width: 35%;
  align-items: center;
  height: 34%;
}

.finalFooter {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.finalFooter .heart {
  color: #f23a2e;
}

.finalFooter .wapp:hover,
.finalFooter .linkedin:hover {
  font-size: larger;
}

.finalFooter .wapp {
  color: rgb(37, 211, 102);
}

.finalFooter .linkedin {
  color: rgb(72, 117, 180);
}