/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

/* STYLES OF NAVBAR */

.navBarDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 13vh;
  width: 100%;
}

.navBarDiv h1 {
  width: 10%;
  padding: 0 5%;
}

.navBarDiv div {
  display: flex;
  width: 15%;
  justify-content: space-evenly;
  align-items: center;
}

.navBarDiv .buttons {
  width: 40%;
  padding: 0 3%;
}

.navBarDiv .buttons div {
  text-align: center;
}

.navBarDiv .buttons div a:hover {
  color: rgb(59, 89, 152);
  font-size: large;
  text-decoration: none;
}

.navBarDiv div div a {
  color: black;
}

.navBarDiv div div .wapp:hover,
.navBarDiv div div .quora:hover,
.navBarDiv div div .facebook:hover,
.navBarDiv div div .linkedin:hover,
.navBarDiv div div .instagram:hover {
  font-size: x-large;
}

.navBarDiv div div .quora:hover {
  color: rgb(185, 43, 39);
}

.navBarDiv div div .wapp:hover {
  color: rgb(37, 211, 102);
}

.navBarDiv div div .instagram:hover {
  color: rgb(226, 29, 121);
}

.navBarDiv div div .linkedin:hover {
  color: rgb(72, 117, 180);
}

.navBarDiv div div .facebook:hover {
  color: #2f55a4;
}

/* STYLES OF HOME (ABOUT ME) */

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.react-parallax-bgimage {
  top: 43% !important;
  filter: brightness(0.5) !important;
}

.react-parallax-content {
  width: 50%;
  color: white;
  text-align: center;
  top: 40%;
  left: 24%;
}

.home .react-parallax {
  width: 100%;
  height: 100%;
}

/* STYLES OF ARTICLES */

.articles {
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5% 5% 5% 5%;
  background-color: rgb(255, 255, 255);
}

.titleArticles {
  padding: 1%;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 5%;
}

.groupArticles {
  padding: 1% 1% 1% 1%;
  height: 77%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.groupArticles div img {
  max-width: 45%;
}

.article {
  display: flex;
  width: 44%;
  margin: 1%;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  height: 33vh;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.one, .three {
  align-self: flex-start;
}

.two, .four {
  align-self: flex-end;
}

.text {
  padding: 1% 5% 1% 5%;
  background: #ffffff;
  /*width: la necesaria;*/
  margin: 0;/*no influye*/
  line-height: 160%;
  position: relative;
}

.text h2 {
  font-size: 160%;
}

.text p {
  max-height: 8rem;/*line-height por nº de líneas*/
  overflow: hidden;
  text-align: justify;
}

.text p::after {
  content: '...';
  background: #ffffff;
  position: absolute;
  top: 173px;
  right: 19px;/*max-height menos 1 line-height*/
}

.divButton {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

.btn {
  padding: 1% 3% 1% 3% !important;
}

/* STYLES OF ONLINE UNDERTAKE */

.online-undertake {
  width: 100%;
  height: 100vh;
  position: relative;
}

.online-undertake .react-parallax {
  width: 100%;
  height: 100%;
  top: 0;
}

.online-undertake .googleAdsDiv {
  position: absolute;
  top: 9%;
  left: 55%;
}

.online-undertake .hotmartDiv {
  position: absolute;
  top: 54%;
  left: 78%;
}

.online-undertake .youtubeDiv {
  position: absolute;
  top: 37%;
  left: 11%;
}

.online-undertake .instagramDiv {
  position: absolute;
  top: 77%;
  left: 33%;
}

.online-undertake .react-parallax .react-parallax-bgimage {
  top: 22% !important;
  filter: brightness(0.5) !important;
}

.online-undertake div div {
  top: 50%;
  text-align: center;
  color: white;
}

/* STYLES OF GALLERY */

.gallery {
  width: 100%;
  height: 100vh;
  background-color: white;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery > div {
  /* height: 100%; */
  height: 90%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery .carousel-slider {
  height: 86%;
}

.carousel .thumbs-wrapper {
  margin: 1% 0 0 0 !important;
}

.carousel {
  text-align: center;
}

/* STYLES OF CIRCLE */

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(./img/keima.jpg);
  background-position: 200px 200px;
  position: absolute;
  top: 98%;
  left: 40%;
}

/* STYLES OF FOOTER */

.footer {
  width: 100%;
  height: 70vh;
  background-color: #333333;
  color: aliceblue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1%;
}

.socialNetworks,
.name,
.navButtons {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
}

.name {
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}

.name p {
  color: #737373;
  margin: 0;
}

.name p:hover {
  color: #ffffff;
}

.navButtons,
.socialNetworks {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.groupFooterButtons {
  display: flex;
  flex-flow: column wrap;
}

.groupFooterButtons div {
  padding: 3% 2%;
}

.groupFooterButtons div a {
  color: #737373;
}

.groupFooterButtons div a:hover {
  color: #ffffff;
  text-decoration: none;
}

.socialNetworks div {
  width: 45%;
  height: 34%;
  margin: 0 0 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialNetworks div div a {
  color: #737373;
}

.socialNetworks div div a:hover {
  font-size: x-large;
  color: #ffffff;
}

.finalFooter {
  width: 53%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.finalFooter p {
  color: #737373;
  margin: 0;
}

.finalFooter p:hover {
  color: #ffffff;
}

.finalFooter .heart {
  color: #f23a2e;
}

.finalFooter span:nth-child(2) {
  height: 1.5rem;
  margin: 0 0 0 1%;
}

.finalFooter > span:last-child {
  height: 1.5rem;
  margin: 0 0 0 1%;
}

.finalFooter .wapp:hover,
.finalFooter .linkedin:hover {
  font-size: large;
}

.finalFooter .wapp {
  color: rgb(37, 211, 102);
}

.finalFooter .linkedin {
  color: rgb(72, 117, 180);
}